# --------------------------------------------------
# Python cache / compiled files
# --------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# --------------------------------------------------
# IDE / OS / Environment
# --------------------------------------------------
.vscode/
.idea/
.DS_Store

# Python environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials
.env
.envrc

# --------------------------------------------------
# Distribution / packaging
# --------------------------------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# --------------------------------------------------
# Test / Coverage
# --------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# --------------------------------------------------
# Documentation builds
# --------------------------------------------------
docs/_build/
site/

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# Pyre / Pytype
.pyre/
.pytype/

# --------------------------------------------------
# Large ML Models
# --------------------------------------------------
nlp/models/ner_model/
nlp/models/ner_model.zip
nlp/models/ner_model/model-best/
nlp/models/ner_model/model-last/

# --------------------------------------------------
# Jupyter Notebook
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# Data handling
# --------------------------------------------------

# raw data만 ignore
data/raw/*

# but keep processed data (Override ignore)
!data/processed/
!data/processed/marketing/

# --------------------------------------------------
# Project-specific ignore
# --------------------------------------------------
.pdm-python
.pdm-build/
